@font-face {
  font-family: "OpenSans";
  src: url('../font/OpenSans-Regular.ttf');
}

@font-face {
  font-family: "SourceSansPro";
  src: url('../font/SourceSansPro-Regular.ttf');
}

body {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'SourceSansPro';
}

a img {
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
  /* wrap long text and urls */
  white-space: pre; /* CSS 2.0 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3.0 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: -moz-pre-wrap; /* Mozilla */
  word-wrap: break-word; /* IE 5+ */
}

#header-page {
  display: flex;
  align-items: center;
  margin: 2em auto;
  padding: 0 1em;
  max-width: 46em;
  font-size: 26px;
}

#header-name {
  flex: 1;
}

#header-name a,
#header-menu a {
  color: #555;
  -webkit-transition: color .1s linear;
  -moz-transition: color .1s linear;
  -o-transition: color .1s linear;
  -ms-transition: color .1s linear;
  transition: color .1s linear;
  font-family: 'OpenSans';
}

#header-name a:hover,
#header-menu a:hover {
  color: black;
}

main {
  max-width: 50em;
  margin: 0 auto;
  padding: 0 1em;
}

#main-logo {
  background-image: url('../img/white-logo.png');
  background-size: contain;
  width: 200px;
  height: 200px;
  margin: 50px auto;
}

article {
  font-size: 16px;
}

.article-title,
h1 {
  font-size: 32px;
  color: #555;
  /* wrap long text and urls */
  white-space: pre; /* CSS 2.0 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3.0 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: -moz-pre-wrap; /* Mozilla */
  word-wrap: break-word; /* IE 5+ */
}

h1 {
  font-size: 26px;
  margin-top: 50px;
  /* wrap long text and urls */
  white-space: pre; /* CSS 2.0 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3.0 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: -moz-pre-wrap; /* Mozilla */
  word-wrap: break-word; /* IE 5+ */
}

h2 {
  font-size: 22px;
  margin-top: 50px;
  /* wrap long text and urls */
  white-space: pre; /* CSS 2.0 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3.0 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: -moz-pre-wrap; /* Mozilla */
  word-wrap: break-word; /* IE 5+ */
}

p {
  margin-top: 20px;
  /* wrap long text and urls */
  white-space: pre; /* CSS 2.0 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3.0 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: -moz-pre-wrap; /* Mozilla */
  word-wrap: break-word; /* IE 5+ */
}

time,
.article-categories {
  font-size: 14px;
  font-style: italic;
}

a .article-title,
a h1 {
  color: #569cd6;
  -webkit-transition: color .1s linear;
  -moz-transition: color .1s linear;
  -o-transition: color .1s linear;
  -ms-transition: color .1s linear;
  transition: color .1s linear;
}

a .article-title:hover,
a h1:hover,
p a:hover,
li a:hover {
  color: #4747ff;
}

p a,
li a {
  color: #569cd6;
  -webkit-transition: color .1s linear;
  -moz-transition: color .1s linear;
  -o-transition: color .1s linear;
  -ms-transition: color .1s linear;
  transition: color .1s linear;
}

#footer-page {
  max-width: 50em;
  border-top: 1px solid black;
  margin: 50px auto;
  padding: 0 1em;
  text-align: center;
}

#footer-page p {
  font-size: 14px;
}

@media (prefers-color-scheme: dark) {

  body {
    background-color: #333;
    color: white;
  }

  #footer-page {
    border-top-color: white;
  }

  .article-title,
  h1 {
    color: white;
  }

  #header-name a,
  #header-menu a {
    color: white;
  }

  #header-name a:hover,
  #header-menu a:hover {
    color: #969696;
  }

}
